<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mccricardo.helloglass">

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name="mccricardo.helloglass.MainActivity"
            android:label="@string/app_name"
            android:enabled="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"> >
        </activity>
        <service
            android:name="mccricardo.helloglass.HelloGlassService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <!-- Voice command found in res/xml/voice_trigger_start -->
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger" />
        </service>
    </application>

</manifest>

